@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Fredoka One', sans-serif;
  background-color: rgb(213, 233, 244);
}

.pokemon-bg {
  background-image: url('/pokemon_background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.locations-bg {
  background-image: url('/locations_background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.moves-bg {
  background-image: url('/moves_background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.abilities-bg {
  background-image: url('/abilities_background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pokedexbg-bg {
  background-image: url('/pokedex_background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
